@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root{
  height: 100vh; 
  margin: 0;
}

body, input, select, button, textarea{
  font-size: 1.6rem;
  font-family: Montserrat,Helvetica, Arial, sans-serif;
}

a{
  text-decoration: none;
}

.grid-container{
  display: grid;grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a:hover{
  color: rgb(61, 142, 218);
}

header{
  grid-area: header;
  background-color: #f1f5f5;
  color: aliceblue;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

header a{
  color: rgb(2, 17, 31);
  text-decoration: none;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background-color: #f1f5f5;
  color: rgb(2, 17, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;


}

.content{
  display: flex;
  flex-wrap: wrap;

}

.main{
  flex: 3 60rem;

}

.sidebar{
  flex: 1 30rem
}

/* products */
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li{
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
  
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img{
  max-width: 37rem;
  max-height: 37rem;
}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div, 
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div{
  font-size: 2rem;
}

.button{
  padding: 1rem;
  border: 0.2rem rgb(133, 133, 133) solid;
  background-color: rgb(231, 231, 231);
  cursor: pointer;
  border-radius:12px;
}

.button:hover{
  border: 0.2rem rgb(245, 245, 245) solid;
  background-color: rgb(138, 138, 138);
  color: white;

}
.button.primary{
  background-color: rgb(174, 221, 253)
}

/* Filters */

.filter{
  display: flex;
  justify-content:space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: .1rem grey solid;

}

.filter div{
  flex: 1;
}

/* Index */

.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.cart-header{
  border-bottom: .1rem grey solid;
}
.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img{
  width: 5rem;
}

.cart-items li {
  display: flex;
}
.cart-items li div{
  padding: .5rem;
}
.cart-items li div:last-child{
  flex:1;
}

.right{
  text-align: right;
}
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div,
.total > button {
  flex: 1;
}

.total > div{
  font-size: 2rem;
}


/*Checkout box */

form {
  width: 100%;
}

.form-container{
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.form-container li{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input{
  padding: 1rem;
  border: .1rem grey solid;
}


 .landing .poster{
  display: flex;
  align-items: center;
  background: url(https://expertphotography.com/wp-content/uploads/2019/05/Depositphotos_33622661_s-2019.jpg) no-repeat ;
  background-size: cover;
  height: 50rem;
  width: 100rem;
  margin-top: 8.5rem;
  margin-left: 14%;
}

.poster .welcome h1{
  display: flex;
  justify-content:flex-end;
  margin-right: 190px;
}

.landing .poster .welcome h2{
  display: flex;
  justify-content:flex-end;
  margin-right: 207px;
}

.landing .poster .welcome p{
  display: flex;
  justify-content: flex-end;
  width: 40%;
  margin-left: 540px;
  margin-top: 10%;
  font-size: 1.8rem;
  font-family: Crimson Text, Arial, sans-serif;

}
.landing .poster .home{
  display: flex;
  flex-direction: row;
  margin-left: 69.8%;
  text-align: center;
  padding: 1rem;
  border: 0.2rem rgb(8, 95, 153) solid;
  background-color: rgb(56, 52, 52);
  border-radius: 150px;
  color:rgb(197, 197, 197);
  cursor: pointer;
}

.landing .poster .home:hover{
  border: 0.2rem rgb(2, 20, 32) solid;
  background-color: rgb(197, 197, 197);
  border-radius: 150px;
  color:rgb(56, 52, 52);
}

